image-modal {
  
  .swiper-slide img.image {
    border: #AAAAAA 1px solid;
    max-height: 75%;
  }

  .swiper-slide img.image, ion-item.item {
    width: 90%;
    margin: 0 auto;
    color: #FFFFFF;    
  }

  &.ion-page > ion-content, ion-item.item {
    background-color: #1D1D1D;
  }

}
