page-search {
  img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 5%;
  }

  ion-icon[name="logo-usd"],
  ion-icon[name="logo-euro"] {
    font-size: 11px;
    color: #999999;
  }
}
